- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-5.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            MAIN: (936) 539-5252
            %br
            HOUSTON METRO: (936) 441-5255
            %br
            TOLL FREE: 1-800-618-2562
          %p  
            %sub FAX
            %br
            (936) 539-5251
          %p  
            %sub EMAIL
            %br
            %a{:href => "mailto:sales@acfm-inc.com"}sales@acfm-inc.com
          %p
            %sub ADDRESS
            %br
            12068A FM 3083
            %br
            Conroe, TX 77301
          

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 We Want to Hear from YOU
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "365", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/q7p6z1/", :width => "100%", :border => "none"}       
